:root {
	--base-color: rgba(255, 255, 255, 1);
	--hover-color: rgba(220, 120, 150, 1);
  }



  .raise {
	color: #FFF;
	border: 4px solid #000;
	box-shadow:0px 0px 0px 1px #000 inset;
	background-color: rgb(0, 17, 248);
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
	width: 10%;
	height: 35px;
	margin: 7px;
	font-size: 11px;
  }
  .raise:hover {
	border: 4px solid rgb(0, 0, 0);
	background-color: #FFF;
	box-shadow:0px 0px 0px 4px rgb(238, 238, 238) inset;
  }
  
  /*btn_text*/
  .raise  {
	transition: all 0.2s ease-out;
	z-index: 2;
  }
  .raise:hover {
	letter-spacing: 0.13em;
	color: rgb(51, 51, 51);
  }
  
  /*highlight*/
  .raise:after {
	background: #FFF;
	border: 0px solid #000;
	content: "";
	height: 155px;
	left: -75px;
	opacity: .8;
	position: absolute;
	top: -50px;
	-webkit-transform: rotate(35deg);
			transform: rotate(35deg);
	width: 50px;
	transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
	z-index: 1;
  }
  .raise:hover:after {
	background: #FFF;
	border: 20px solid #000;
	opacity: 0;
	left: 120%;
	-webkit-transform: rotate(40deg);
			transform: rotate(40deg);
  }


  
  .wordprocessor{
	  background-color: rgba(255, 255, 255, 0.945);
	  height: 1280px;
  }


.title{
	color: rgb(0, 0, 0);
	padding-bottom: 20px;
}


.notification-box{
	background-color: rgb(76, 221, 57);
	color: rgb(39, 128, 36);
	background: red;
}

.allWords{
	display: block;
	width: 100%;
	padding-left: 10%;

}

.theword{
	color: rgb(168, 11, 11);
	font-size: 55px;
    font-weight: 700;
	display: block;
	padding-bottom: 30px;
}

.firstRow{
	padding-bottom: 0px!important;
}

h1{
	padding-top: 50px;
}

.site-card-border-less-wrapper{
  padding: 30px;
  /* background: #ececec; */
}


p{
	display: inline-block;
}

.favwordDivider{
	color: black;
	border: solid black 0.5px;
}


.favWordp{
	color: #000;
	
	font-size: large;
    font-weight: 500;
}

.favWordp:hover{
	cursor: pointer;
	color: red;

}


#word-form{
	width: 100%;
}

.enterWord{
	display: inline-block;
    text-align: end;
}

.enterH{
	padding-top: 12px;
}

.wordForm{
	display: inline-block;
    text-align: left;
}

.favWordBtn{
	text-align: start;
	padding-left: 20px;
	padding-top: 10px;
}


.Display {
	width: 100%;
	height: 55px;
	background-color: #a1d9a9be;
	font-size: 25px;
	color: rgb(2, 2, 7);
	margin-bottom: 30px;
}

.DisplaySpan {
	margin: 16px;
}

/*.raise{
	width: 10%;
	height: 35px;
	margin: 7px;
	font-size: 11px;
}

.raise:hover {
  color: #6070ff;
  box-shadow: inset 5.5em 0 0 0 var(--hover);
}*/



.operationBtns:hover{
	background-color: green;
	box-shadow: 0px 0px 12px #0a0a09;
	transition: 0.6s;
}

.operationBtns{
	width: 150px;
	height: 55px;
	background-color: green;
	color:rgb(0, 0, 0);
	border-radius: 20px;
	margin-right: 20px;
	transition: 0.6s;
}

.thepage{
	padding-bottom: 350px;
}

.select{
	display: block;
	padding-top: 25px;
	text-align: center;
	font-weight: 800;
}

strong{
	font-size: 60px;
}