.Words {
	color: black;
	width: 25%;
	height: 16%;
	font-size: 6vmin;
	border-color: black;
}

.Wordss {
	color: black;
	width: 10%;
	height: 16%;
	font-size: 6vmin;
	border-color: black;
}

.Words:focus {
	outline: 0px;
}

.Words:active {
	opacity: 0.5;
}

.BlackWords {
	background-color: #dd4702;	
}

.GrayWords {
	background-color: #0016df;
}

.OrangeWords {	
	background-color: #04eb23;	
}

.LargeWords {
	width: 100%;
	text-align: center;
	padding-left: 12%;
	background-color: green;
}